// Place all the styles related to the api/reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.review-item-box{
    // height: 200px;
    margin-top:20px;
    border-top:2px solid rgb(241, 241, 241);
    font-family: Arial, Helvetica, sans-serif;
}
.review-item-author{
    margin-top: 20px;
    height: 85px;
    // border:1px solid black;
     display: flex;
}
.review-item-author-photo-box{
    margin: 5px;
}
.review-item-author-photo{
    height: 70px;
    width: 70px;
}

.item-author-name{
    width: 150px;
    margin: 10px 10px ;
    font-weight:700;
    // border:1px solid black;
    color:#00838f;
    font-size:20px;
}

.review-item-body{
    margin: 10px;
    font-size:14px;
   
}

.review-item-buttons-box{
    // border: 1px solid black;
    height: 50px;
}

.handle-review-button-location{
    margin:4px 4px 4px 400px;
    // border: 1px solid black;
    height: 40px;
    width: 135px;
}

.review-item-button{
    float: right;
    width: 55px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #7c1014;
    margin:5px;
    text-align: center;
    background-color: #d90007;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    color:white
}

.review-item-button:hover{
    background-color: #ec0008;
}
