.home-page{
  height: 570px;
  /* border:1px solid black */
}

.home-main-section::after {
  content: "";
  background: url(https://active-storage-yep-dev.s3-us-west-1.amazonaws.com/homepage1.jpg);
  filter: brightness(90%);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* border:1px solid black; */
  height: 600px;
  display: flex;
  flex-direction: column;
  min-width: 1020px;
}

.home-main-nav-bar{
  max-width: 1200px;
  margin: 0 auto;
}

.home-nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  margin-top: 30px;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: white;

}

.nav-bar-left{
  display: flex;
  justify-content: space-around;
  width: 350px;
  align-items: center;
}


.home-underline {
  padding-bottom: 8px;
  margin-top: 8px;
  border-bottom: 2px solid transparent;
  font-size:14px;
  cursor: pointer;
}

.home-underline:hover{
  border-bottom: 2px solid white;
}

.home-underline:active {
  color: rgb(160, 160, 160);
}

.home-signup{
  border: 2px solid white;
  padding: 7px 24px 8px;
  border-radius: 4px;
}

.home-signup:hover{
  background-color: white;
  color: rgb(95, 95, 95)
}

.home-signup:active{
  background-color: white;
  color: rgb(168, 168, 168)
}

.nav-bar-right{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 30px;
  font-weight: 700;
  color: white;
}

#logout {
  display: flex;
  flex-direction: row-reverse;
}

.home-main-inner{
  display: flex;
  flex-direction: column;
  max-width: 960px;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0px 0px 0px;
  height: 325px;
  margin: 0 auto;
}

.home-logo{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 70px;
    line-height: 75px;
    color: white;
    font-weight: 700;
    text-shadow: 2px 2px 4px #000000;
    cursor: pointer;

}


.home-category-navigation-bar{
  color: white;
  font-weight: bold;
}

.nav-underline {
  padding-bottom: 8px;
  margin-top: 8px;
  border-bottom: 2px solid transparent;
}

.nav-underline:hover {
  border-bottom: 2px solid white;
  cursor: pointer;
}

.home-page-itembox{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white
}

.home-box-title{
  margin: 20px 0 30px;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #d32323;
}

.home-itembox-container{
  height: 300px;
  width: 960px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.home-category{
  width: 216px;
  height: 250px;
  /* border: 1px solid rgb(207, 207, 207); */
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  cursor: pointer;

}

.home-category:hover{
  box-shadow: 2px 2px 15px #bdbdbd;
}

.home-category:hover > div {
  color: #0073bb;
}

.home-category-text{
  color: #d32323;
  font-size: 20px;
  font-weight: bold;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.home-all-picture{
  background: url(https://active-storage-yep-dev.s3-us-west-1.amazonaws.com/shops.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: -30px;
  height: 85%;
}

.home-CF-picture{
  background: url("https://active-storage-yep-dev.s3-us-west-1.amazonaws.com/rice.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  height: 85%;
}

.home-SUSHI-picture{
  background: url(https://active-storage-yep-dev.s3-us-west-1.amazonaws.com/sushi.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 85%;
}

.home-BBQ-picture{
  background: url(https://active-storage-yep-dev.s3-us-west-1.amazonaws.com/BBQ.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 85%;
}




